################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CypressDashboard/CypressDashboard/bin/Debug/net6.0
/CypressDashboard/CypressDashboard/obj
/CypressDashboard/CypressDashboardModel/bin/Debug/net6.0
/CypressDashboard/CypressDashboardModel/obj
/CypressDashboard/MongoWS/bin/Debug/net6.0
/CypressDashboard/MongoWS/obj
/MongoDBAdapter/bin/Debug/net6.0
/MongoDBAdapter/obj
/.vs/CypressDashboard/FileContentIndex
/.vs/CypressDashboard/v17
/.vs
/CypressDashboard/.vs/CypressDashboard/FileContentIndex
/CypressDashboard/.vs/ProjectEvaluation
*.v2
/CypressDashboard/CypressDashboardModel/bin/Release/net6.0
/CypressDashboard/MongoWS/bin/Release/net6.0
/MongoDBAdapter/bin/Release/net6.0
/CypressDashboard/CypressDashboard/wwwroot/CypressVideos
