################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CypressDashboard/CypressDashboard/bin/Debug/net6.0
/CypressDashboard/CypressDashboard/obj
