@page "/"
@inject HttpClient Http
@using CypressDashboardModel

<PageTitle>Index</PageTitle>

<h1>Cypress Dashboard</h1>


<SurveyPrompt Title="How is Blazor working for you?" />

@code {



	CypressTestSummary[] summary = new CypressTestSummary[0];
	protected override async Task OnInitializedAsync()
	{
		//var test = await Http.GetFromJsonAsync<CypressTest[]>("https://localhost:5001/getsomething");
		//CypressTest[] testList = await Http.GetFromJsonAsync<CypressTest[]>("sample-data/cypresstestdata1.json");      

		//currentCount = testList.Length;


		summary = await Http.GetFromJsonAsync<CypressTestSummary[]>("sample-data/cypresssummary1.json");


	}

   
      

    }





                @foreach (var item in summary)
                {
                    <TestSummary Summary="item"></TestSummary>
                }
            

 <RadzenCard class="m-3" style="border-left: .25rem solid #4e73df!important">
                <h3 class="h5">Contact</h3>
                <div class="d-flex flex-row">

                    <div>
                        <div>Employee</div>
                        <b>ciao</b>
                        <div class="mt-3">Company</div>
                        <b>a tutti</b>
                    </div>
                </div>
            </RadzenCard>
