@page "/"
@inject HttpClient Http
@using CypressDashboardModel

<PageTitle>Index</PageTitle>

<h1>Cypress Dashboard - VitaPowerTool</h1>


@code {


	CypressTest[] lastTest = new CypressTest[0];
	CypressTestSummary[] summary = new CypressTestSummary[0];
	protected override async Task OnInitializedAsync()
	{
		//lastTest = await Http.GetFromJsonAsync<CypressTest[]>("sample-data/cypresstestdata2.json");
		

		//currentCount = testList.Length;


		//summary = await Http.GetFromJsonAsync<CypressTestSummary[]>("sample-data/cypresssummary1.json");
		summary = await Http.GetFromJsonAsync<CypressTestSummary[]>("https://localhost:5001/GetLatestSummary?nCountMax=10");

		lastTest = await Http.GetFromJsonAsync<CypressTest[]>($"https://localhost:5001/GetTest?uid={summary[0]._id}");
	}
}




@if (summary.Length > 0)
{
	<TestDetails Title="Last Run" Summary="summary[0]" TestList="lastTest"></TestDetails>
}

@foreach (var item in summary)
{
	<TestSummary Summary="item"></TestSummary>
}



