@page "/"
@inject HttpClient Http
@using CypressDashboardModel

<PageTitle>Index</PageTitle>

<h1>Cypress Dashboard - VitaPowerTool</h1>


@code {


	CypressTest[] lastTest = new CypressTest[0];
	CypressTestSummary[] summary = new CypressTestSummary[0];
	CypressTestSummary currentSummary = new CypressTestSummary();
	protected override async Task OnInitializedAsync()
	{
		//lastTest = await Http.GetFromJsonAsync<CypressTest[]>("sample-data/cypresstestdata2.json");


		//currentCount = testList.Length;


		//summary = await Http.GetFromJsonAsync<CypressTestSummary[]>("sample-data/cypresssummary1.json");
		summary = await Http.GetFromJsonAsync<CypressTestSummary[]>("https://localhost:5001/GetLatestSummary?nCountMax=10");

		lastTest = await Http.GetFromJsonAsync<CypressTest[]>($"https://localhost:5001/GetTest?uid={summary[0]._id}");
		currentSummary = summary[0];

		//https://localhost:7051/GetTestList
		//https://localhost:7051/GetTestDuration?testName=Appunti%20page%20with%20correct%20content


	}

	private async void ShowMessage(string uid)
	{
		lastTest = await Http.GetFromJsonAsync<CypressTest[]>($"https://localhost:5001/GetTest?uid={uid}");
		foreach (var item in summary)
		{
			if (item._id == uid)
				currentSummary = item;
		}
	}


}




@if (summary.Length > 0)
{

	<TestDetails Title="Last Run" Summary="currentSummary" TestList="lastTest"></TestDetails>
}

@foreach (var item in summary)
{
	<TestSummary Summary="item" OnClickCallback="@ShowMessage"></TestSummary>
}



